body{
    background-color: rgb(138, 138, 188);
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#email, #password, #button {
    padding: 5px;
}

input, button {
    border: 6px solid transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* header div {
    float: left;
    margin: auto;
} */